.address-group {
  margin: 49vh auto 0 auto;
  text-align: center;
}

.address-group label{
  font-size: 30px;
  display: block;
  margin-bottom: 15px;
}

.address-group input {
  padding: 10px;
  width: 500px;
}

.address-group button {
  width: 100px;
  padding: 10px;
}

.error {
  color: red;
}

.contribute-link {
  position: absolute;
  text-align: center;
  width: 100%;
  bottom: 10px;
  left: 0;
}

.App {
  text-align: center;
}
.App .controls {
  position: absolute;
  border: 1px solid black;
  padding: 10px;
  top: 0;
  left: 0;
  background: white;
  width: 300px;
}
.App .controls .form-group {
  margin: 20px 0;
}

.App .controls .token-details {
  font-weight: bold;
  border-top: 1px solid
}
